In [1]:
import pandas as pd

In [2]:
# 使用 pandas 模块的 read_csv 函数，读取 csn 文件。并将结果存在 df_rating 变量中
df_rating = pd.read_csv("tv_rating.csv")

# 打印 df_rating 变量
print("df_rating:")
print(df_rating)

# 打印 df_rating 变量的类型
print("df_rating type:")
print(type(df_rating))

df_rating:
           title rating                                              stars
0           决胜法庭   3.7分                 主演于和伟,张佳宁,韩栋,王耀庆,连奕名,胡静,杜源,王艺禅,王全有
1         刘老根第三部   4.0分                                主演赵本山,范伟,李静,闫学晶,王小宝
2         我的僵尸王爷   4.6分                                               主演内详
3        新世界2020   3.4分                 主演孙红雷,张鲁一,尹昉,万茜,李纯,胡静,秦汉,赵峥,张瑶,张晔子
4        三生三世枕上书   4.4分          主演迪丽热巴,高伟光,陈楚河,郭品超,刘雨欣,刘芮麟,王骁,李东恒,袁雨萱,黄俊捷
...          ...    ...                                                ...
3595    二十不惑DVD版   4.0分              主演关晓彤,卜冠今,李庚希,董思怡,金世佳,牛骏峰,王安宇,曹恩齐,徐绍瑛
3596       实习女捕快   4.0分             主演杨安琪 樊驿宁 卜冠之 南思恺 王蕴凡 陈嘉敏 刘竹 齐超 唐鑫 郑旭东
3597       我的男月嫂   1.0分                                   主演黄炫彰 唐丹 王一嚞 吴佳曦
3598  喂，我是你的微糖男友   2.0分                          主演吴大伟,张集骏,柯博伦,辛诗琪,代雨丹,蒋蕊泽
3599    穿越火线2020   4.6分  主演鹿晗,吴磊,代露娃,宋妍霏,张萌,邵兵,王锵,刘帅良,朱俊麟,黄德毅,潘美烨,宋家腾,夏...

[3600 rows x 3 columns]
df_rating type:
<class 'pandas.core.frame.DataFrame'>

In [9]:
type(df_rating["title"])

pandas.core.series.Series

In [31]:
# 使用 read_excel 函数，读取 info.xlsx 的内容并存储在 df_info 变量中
df_info = pd.read_excel("info.xlsx")

# 不用 print，直接将 df_info 放在最后一行，让notebook用表格形式打印
df_info

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
1  小亮  25  广东  IT部
2  小E  23  四川  财务部

In [32]:
# 使用 read_excel 函数读取 info.xlsx 文件里的 “绩效” 这个表格
# 并将结果存在 df_perf 变量中
df_perf = pd.read_excel("info.xlsx", sheet_name="绩效")

# 让notebook 打印 df_perf 变量
df_perf

   姓名 绩效考核 上期考核结果
0  小明   优秀     优秀
1  小亮   良好     优秀
2  小E   良好     优秀

In [33]:
# 使用 read_excel 函数读取 info.xlsx 中的 绩效 表格
# 并只读取 A B两行，并将结果存到 df_perf1 变量中
df_perf1 = pd.read_excel("info.xlsx", sheet_name="绩效", usecols="A,B")

# 让 notebook 打印 df_perf1 变量
df_perf1

   姓名 绩效考核
0  小明   优秀
1  小亮   良好
2  小E   良好

In [27]:
with pd.ExcelFile("info.xlsx") as xls:
    print(xls.sheet_names)

['基本信息', '绩效']

In [46]:
import urllib3
def download_content(url):
    # 创建一个 PoolManager 对象，命名为 http
    http = urllib3.PoolManager()

    # 调用 http 对象的 request 方法，第一个参数传一个字符串 "GET"
    # 第二个参数则是要下载的网址，也就是我们的 url 变量
    # request 方法会返回一个 HTTPResponse 类的对象，我们命名为 response
    response = http.request("GET", url)

    # 获取 response 对象的 data 属性，存储在变量 response_data 中
    response_data = response.data

    # 调用 response_data 对象的 decode 方法，获得网页的内容，存储在 html_content 
    # 变量中
    html_content = response_data.decode()
    return html_content

html_content = download_content("http://fx.cmbchina.com/Hq/")

In [54]:
# 调用 read_html 函数，传入网页的内容，并将结果存储在 cmb_table_list 中
# read_html 函数返回的是一个 DataFrame 的list
cmb_table_list = pd.read_html(html_content)

# 打印 list 的长度，看看抽取出了几个表格
print(len(cmb_table_list))

2

In [55]:
# 直接写变量，利用 notebook 的特性打印表格
cmb_table_list[0]

                  0                 1
0               NaN               NaN
1  当前日期：2021年04月16日  当前日期：2021年04月16日

In [56]:
cmb_table_list[1]

        0      1    2       3       4       5       6         7       8
0     交易币  交易币单位  基本币   现汇卖出价   现钞卖出价   现汇买入价   现钞买入价        时间   汇率走势图
1      港币    100  人民币   84.04   84.04   83.70   83.12  22:24:38  查看历史>>
2    新西兰元    100  人民币  468.22  468.22  464.48  449.79  22:24:38  查看历史>>
3   澳大利亚元    100  人民币  506.76  506.76  502.72  486.82  22:24:38  查看历史>>
4      美元    100  人民币  653.50  653.50  650.57  645.35  22:24:38  查看历史>>
5      欧元    100  人民币  784.72  784.72  778.46  753.84  22:24:38  查看历史>>
6    加拿大元    100  人民币  523.20  523.20  519.04  502.62  22:24:38  查看历史>>
7      英镑    100  人民币  904.22  904.22  897.02  868.65  22:24:38  查看历史>>
8      日元    100  人民币  6.0166  6.0166  5.9686  5.7799  22:24:38  查看历史>>
9    新加坡元    100  人民币  490.87  490.87  486.95  471.55  22:24:38  查看历史>>
10   瑞士法郎    100  人民币  712.40  712.40  706.72  684.37  22:24:38  查看历史>>

In [5]:
url= "http://www.pbc.gov.cn/eportal/fileDir/defaultCurSite/resource/cms/2021/01/2021011818262828764.htm"


from selenium import webdriver
brow = webdriver.Chrome()
brow.get(url)
eco_content = brow.page_source

# print(eco_content)
df_list = pd.read_html(eco_content)
print(len(df_list))

1

In [1]:
import pandas

In [6]:
df_list[0]

,0,1,2,3,4,5,6,7,8,9
0,股票市场统计表,股票市场统计表,股票市场统计表,股票市场统计表,股票市场统计表,股票市场统计表,股票市场统计表,股票市场统计表,股票市场统计表,NaN
1,Statistics of Stock Market,Statistics of Stock Market,Statistics of Stock Market,Statistics of Stock Market,Statistics of Stock Market,Statistics of Stock Market,Statistics of Stock Market,Statistics of Stock Market,Statistics of Stock Market,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,股票筹资额（亿元）,成交量（百万股）,成交金额（亿元）,期末总股本（亿股）,期末市价总值（亿元）,期末上市公司数（家）,期末收盘指数(Index),期末收盘指数(Index),NaN
4,NaN,股票筹资额（亿元）,成交量（百万股）,成交金额（亿元）,期末总股本（亿股）,期末市价总值（亿元）,期末上市公司数（家）,上证综合指数,深证成份指数,NaN
5,NaN,Equity Financing (100 Million Yuan),Volume of Trading (One Million Shares),Turnover of Trading (100 Million Yuan),Volume Issued at End of Period (100 Million S...,Total Market Capitalization at End of Period ...,Number of listed company at End of Period,Shanghai Stock Exchange Composite Index,Shenzhen Stock Exchange Componet Index,NaN
6,2020.01,704,983634,112290,62347,597180,3792,2977,10682,NaN
7,2020.02,447,1677782,196723,62451,596640,3813,2880,10981,NaN
8,2020.03,252,1732748,191003,62625,562854,3826,2750,9962,NaN
9,2020.04,596,1218812,131838,62930,593994,3850,2860,10722,NaN
10,2020.05,433,943057,112487,63236,600110,3868,2852,10746,NaN
11,2020.06,907,1197017,145230,63852,648774,3893,2985,11992,NaN
12,2020.07,1684,2324706,301963,64132,738175,3938,3310,13638,NaN
13,2020.08,1850,1709486,222966,64296,759475,3990,3396,13758,NaN
14,2020.09,1353,1373787,169872,64598,721687,4056,3218,12907,NaN
15,2020.10,1060,842521,119702,64856,735808,4082,3225,13237,NaN
16,2020.11,1076,1307912,175769,65010,769523,4101,3392,13670,NaN
17,2020.12,1206,1433724,188411,65456,797238,4154,3473,14471,NaN
18,2020年累计,11567,16745186,2068253,NaN,NaN,NaN,NaN,NaN,NaN
19,数据来源：中国证券监督管理委员会。,数据来源：中国证券监督管理委员会。,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Source:China Securities Regulatory Commission.,Source:China Securities Regulatory Commission.,Source:China Securities Regulatory Commission.,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN