In [31]:
import pandas as pd

# 通过列表创建 Series
ser1 = pd.Series([1,3,5,7])

# 通过 notebook 打印 ser1
ser1

0    1
1    3
2    5
3    7
dtype: int64

In [5]:
print("values: ", ser1.values)
print("index: ", ser1.index)

values:  [1 3 5 7]
index:  RangeIndex(start=0, stop=4, step=1)

In [7]:
ser1[1]

3

In [13]:
# 使用列表创建 Series，并指定其索引为另一个列表
ser2 = pd.Series([1,[66,65],5,7], index=["a", "b", "c", "d"])

# 使用 notebook 打印 ser2
ser2

a           1
b    [66, 65]
c           5
d           7
dtype: object

In [11]:
print(ser2["d"])

7

In [12]:
print("values:", ser2.values)
print("index:", ser2.index)

values: [1 3 5 7]
index: Index(['a', 'b', 'c', 'd'], dtype='object')

In [70]:
# 加载电视剧评分数据
df_rating = pd.read_csv("tv_rating.csv")

# 输出评分的 DataFrame
df_rating

           title rating                                              stars
0           决胜法庭   3.7分                 主演于和伟,张佳宁,韩栋,王耀庆,连奕名,胡静,杜源,王艺禅,王全有
1         刘老根第三部   4.0分                                主演赵本山,范伟,李静,闫学晶,王小宝
2         我的僵尸王爷   4.6分                                               主演内详
3        新世界2020   3.4分                 主演孙红雷,张鲁一,尹昉,万茜,李纯,胡静,秦汉,赵峥,张瑶,张晔子
4        三生三世枕上书   4.4分          主演迪丽热巴,高伟光,陈楚河,郭品超,刘雨欣,刘芮麟,王骁,李东恒,袁雨萱,黄俊捷
...          ...    ...                                                ...
3595    二十不惑DVD版   4.0分              主演关晓彤,卜冠今,李庚希,董思怡,金世佳,牛骏峰,王安宇,曹恩齐,徐绍瑛
3596       实习女捕快   4.0分             主演杨安琪 樊驿宁 卜冠之 南思恺 王蕴凡 陈嘉敏 刘竹 齐超 唐鑫 郑旭东
3597       我的男月嫂   1.0分                                   主演黄炫彰 唐丹 王一嚞 吴佳曦
3598  喂，我是你的微糖男友   2.0分                          主演吴大伟,张集骏,柯博伦,辛诗琪,代雨丹,蒋蕊泽
3599    穿越火线2020   4.6分  主演鹿晗,吴磊,代露娃,宋妍霏,张萌,邵兵,王锵,刘帅良,朱俊麟,黄德毅,潘美烨,宋家腾,夏...

[3600 rows x 3 columns]

In [9]:
# 获取 rating 这一列，存储在ser_rating 变量中
ser_rating = df_rating["rating"]

# 输出 ser_rating 这个 Series
print(ser_rating)

# 分割一下，方便查看
print("------------分割一下------------")

# 查看数据的类型
print(type(ser_rating))

0       3.7分
1       4.0分
2       4.6分
3       3.4分
4       4.4分
        ...
3595    4.0分
3596    4.0分
3597    1.0分
3598    2.0分
3599    4.6分
Name: rating, Length: 3600, dtype: object
------------分割一下------------
<class 'pandas.core.series.Series'>

In [8]:
# DataFrame 通过 loc 函数可以查看行索引对应的值
# 取出行索引为 1 的行，存储在 ser_1 变量中
ser_1 = df_rating.loc[1]

# 打印 ser1 这个 Series
print(df_rating.loc[1])

# 分割一下，方便查看
print("------------分割一下------------")

# 查看数据的类型
print(type(df_rating.loc[1]))

title                  刘老根第三部
rating                   4.0分
stars     主演赵本山,范伟,李静,闫学晶,王小宝
Name: 1, dtype: object
------------分割一下------------
<class 'pandas.core.series.Series'>

In [20]:
ser_name = pd.Series(["小明", "小亮", "小E"])
ser_age = pd.Series([22,25,23])
ser_from = pd.Series(["河北", "广东", "四川"])
ser_dep = pd.Series(["IT部", "IT部", "财务部"])

df_info = pd.DataFrame([ser_name, ser_age, ser_from, ser_dep], index= ["姓名", "年龄", "籍贯", "部门"])
df_info

      0    1    2
姓名   小明   小亮   小E
年龄   22   25   23
籍贯   河北   广东   四川
部门  IT部  IT部  财务部

In [57]:
# 将列索引保存在 index_arr 变量中
index_arr = ["姓名", "年龄", "籍贯", "部门"]

# 构建小明、小亮、小E的行 Series，并使用我们创建好的 index_arr 作为 Series 的index
ser_xiaoming = pd.Series(["小明", 22, "河北","IT部"], index= index_arr)
ser_xiaoliang = pd.Series(["小亮", 25, "广东","IT部"], index = index_arr)
ser_xiaoe = pd.Series(["小E", 23, "四川","财务部"], index=  index_arr)

# 直接将三个 Series 以列表的形式作为 DataFrame 的参数，创建 DataFrame
df_info = pd.DataFrame([ser_xiaoming, ser_xiaoliang, ser_xiaoe])

# 使用 notebook 打印 DataFrame
df_info

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
1  小亮  25  广东  IT部
2  小E  23  四川  财务部

In [58]:
# 新建一个行 Series，存储在 ser_xiaoh变量中
ser_xiaoh = pd.Series(["小红", 28, "福建", "财务部"], index = index_arr)

# 调用 append 方法添加到DataFrame 中
# 设置 ignore_index 的含义是让 DataFrame 自动生成行索引
# 调用 append 之后，会返回一个新的 DataFrame，我们将其保存回 df_info 变量
df_info = df_info.append(ser_xiaoh, ignore_index= True)

# 查看添加后的DataFrame
df_info

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
1  小亮  25  广东  IT部
2  小E  23  四川  财务部
3  小红  28  福建  财务部

In [59]:
# 直接将新添加的列名当做 DataFrame 的列索引，对其赋新的值
df_info["考核结果"] = "合格"

# 查看
df_info

   姓名  年龄  籍贯   部门 考核结果
0  小明  22  河北  IT部   合格
1  小亮  25  广东  IT部   合格
2  小E  23  四川  财务部   合格
3  小红  28  福建  财务部   合格

In [60]:
# 将新添加的 Series 赋值给 DataFrame 中新列名对应的列 Series
df_info["考核结果"] = pd.Series(["合格", "良好", "优秀", "良好"])

# 查看
df_info

   姓名  年龄  籍贯   部门 考核结果
0  小明  22  河北  IT部   合格
1  小亮  25  广东  IT部   良好
2  小E  23  四川  财务部   优秀
3  小红  28  福建  财务部   良好

In [61]:
# labels 是要删除的列名
# axis = 1 代表要删除的是列
# inplace = True 代表删除直接在 df_info 中生效。
df_info.drop(labels = "考核结果", axis=1, inplace= True)

# 查看
df_info

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
1  小亮  25  广东  IT部
2  小E  23  四川  财务部
3  小红  28  福建  财务部

In [62]:
# labels 是要删除行的 index，小E的index是2
# axis = 0 代表要删除的是行
df_info.drop(labels=2, axis=0, inplace=True)

# 查看
df_info

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
1  小亮  25  广东  IT部
3  小红  28  福建  财务部

In [66]:
# loc 属性后面跟中括号，中括号里面第一个元素是行索引，第二个元素是列索引
# 小亮的行索引是1，我们想查看籍贯，所以列索引就是籍贯
df_info.loc[1, "籍贯"]

'广东'

In [67]:
# 对行索引为1，列索引为 籍贯 的单元格赋值，赋值 广西
df_info.loc[1, "籍贯"] = "广西"

# 查看 DataFrame
df_info

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
1  小亮  25  广西  IT部
3  小红  28  福建  财务部

In [69]:
df_info.values

array([['小明', 22, '河北', 'IT部'],
       ['小亮', 25, '广西', 'IT部'],
       ['小红', 28, '福建', '财务部']], dtype=object)

In [75]:
# by 参数代表要按 rating 这个列索引来排序
# inplace = True 的含义和上面说的一样，代表更新当前的DataFrame，而不是返回一个新的
df_rating.sort_values(by = "rating", inplace=True)

# 查看排序后的 DataFrame
df_rating

          title rating                                              stars
2918       致命筹码   1.0分  主演任泽巍,刘芳毓,张山,贾娅,霍尔查,李庆祥,储宁珈懿,樊响天闻,金洋,杜熊文,张钰茜,李...
402   蜀山战纪之剑侠传奇   1.0分                                  主演赵丽颖,陈伟霆,吴奇隆,叶祖新
246     我的父亲我的兵   1.0分                                   主演张一山,刘威,傅淼,山崎敬一
2716       烽火燃情   1.0分                                       主演胡海锋,王力可,午马
1514     夜行人第二季   1.0分                                       主演张翔,王靓雅,蒋中伟
...         ...    ...                                                ...
102          胭脂   5.0分                                 主演赵丽颖陆毅袁文康陶昕然李梦男叶峰
213         有猫在   5.0分                                          主演王京莉,谢欣桐
108        碧海雄心   5.0分                                主演陈思诚  张国强  袁泉  王媛可
49       颤抖吧，阿部   5.0分                                      主演郑业成 安悦溪 王燕阳
1799         追剿   5.0分                                  主演刘宇桥,郭晓峰,牛宝军,周子茵

[3600 rows x 3 columns]

In [77]:
# 在刚才的基础上，增加 ascending=False，代表按降序排序
df_rating.sort_values(by="rating", inplace=True, ascending=False)

# 查看
df_rating

          title rating                                              stars
1799         追剿   5.0分                                  主演刘宇桥,郭晓峰,牛宝军,周子茵
29          杀不死   5.0分                                  主演杨羽  邵庄  安宁  王辰昊
184   龙日一，你死定了2   5.0分                                  主演邱赫南,侯佩杉,魏哲鸣,黄千硕
3584      家和万事兴   5.0分                            主演李依晓,海陆,李进荣,张迪,叶项明,刘萌萌
1524  拜见宫主大人第二季   5.0分                                    主演关智斌,孙雪宁,李诺,刘骐
...         ...    ...                                                ...
2714       将门风云   1.0分                      主演丁海峰,田海蓉,郑晓宁,谭洋,唐静,刘跃军,吴越,赵君
1514     夜行人第二季   1.0分                                       主演张翔,王靓雅,蒋中伟
2716       烽火燃情   1.0分                                       主演胡海锋,王力可,午马
246     我的父亲我的兵   1.0分                                   主演张一山,刘威,傅淼,山崎敬一
2918       致命筹码   1.0分  主演任泽巍,刘芳毓,张山,贾娅,霍尔查,李庆祥,储宁珈懿,樊响天闻,金洋,杜熊文,张钰茜,李...

[3600 rows x 3 columns]

In [78]:
# head 函数返回 DataFrame 的前 N 条记录，N就是函数参数指定的值
# 这里我们指定 20 
df_rating.head(20)

          title rating                                              stars
1799         追剿   5.0分                                  主演刘宇桥,郭晓峰,牛宝军,周子茵
29          杀不死   5.0分                                  主演杨羽  邵庄  安宁  王辰昊
184   龙日一，你死定了2   5.0分                                  主演邱赫南,侯佩杉,魏哲鸣,黄千硕
3584      家和万事兴   5.0分                            主演李依晓,海陆,李进荣,张迪,叶项明,刘萌萌
1524  拜见宫主大人第二季   5.0分                                    主演关智斌,孙雪宁,李诺,刘骐
49       颤抖吧，阿部   5.0分                                      主演郑业成 安悦溪 王燕阳
108        碧海雄心   5.0分                                主演陈思诚  张国强  袁泉  王媛可
213         有猫在   5.0分                                          主演王京莉,谢欣桐
102          胭脂   5.0分                                 主演赵丽颖陆毅袁文康陶昕然李梦男叶峰
10          择天记   5.0分                                     主演鹿晗/娜扎/吴倩/曾舜晞
35        无心法师2   5.0分                                   主演韩东君,陈瑶,李兰迪,王彦霖
3431    三个女人一台戏   5.0分                                            主演三金 丹丹
36          醉玲珑   5.0分                               主演 刘诗诗  陈伟霆  徐海乔  韩雪
45        浪花一朵朵   5.0分                               主演谭松韵  熊梓淇  黄圣池  张峻宁
57          异地恋   5.0分    主演李嘉文,毛方圆,朱俊玮,许媛媛,李宁,黄婧,韩昊霖,薛亦伦,赵培琳,洪士雅,刘承林,毛翔宇
302     蜜恋失心第二季   5.0分                                   主演丁怡,罗诠浩,殷叶子,蔡俊涛
60         通感恋人   5.0分                                       主演黄尧,李任燊,张进翘
62      我的老爸是奇葩   5.0分                                主演韩童生  陶慧敏  经超  张佳宁
3587         心术   5.0分  主演海清,吴秀波,张嘉译,韩雨芹,翟天临,王维维,张子枫,姜晓冲,孙仲加,杨紫,于毅,王琳,...
69      亲爱的王子大人   5.0分                               主演张予曦  谢佳见  赵奕欢  陈子由

In [79]:
# tail 函数，返回DataFrame 的末尾的 N 条记录，N就是函数的参数
# 这里的N，我们指定 20
df_rating.tail(20)

         title rating                                              stars
3546  再生缘之孟丽君传   1.0分       主演李冰冰,黄海冰,贾雨萌,董艺薇,宋思轩,陈龙,高鑫,孙兴,孙宁,石筱群,王灵,马敬涵
1674    童话二分之一   1.0分                            主演李俊赫,张钧甯,朱梓骁,武艺,郑爽,刘美含
2744      新玉观音   1.0分                           主演饶敏莉,高云翔,安志杰,莫小棋,李强,赵丽颖
1504   郭小宝和周老财   1.0分                                    主演范伟,毛孩,张一鸾,顾宇峰
1507      掌门女婿   1.0分                                   主演张译,曹炳琨,徐梵溪,曹艳艳
1813      国色天香   1.0分   主演叶璇,刘恺威,何晟铭,徐麒雯,高昊,陈晓,潘虹,何赛飞,习雪,吕佳容,王安迪,马雅舒,宗峰岩
261      后妈的春天   1.0分                                     主演李彩桦,黑子,贺刚,刘佳
2704      阻击罪恶   1.0分                          主演董勇 / 刘孜 / 程煜 / 李琳 / 廖京生
1509  我和她的传奇情仇   1.0分                                   主演颜丹晨,李健,史光辉,侯长荣
2720  天机十二宫第二季   1.0分                      主演宋文作,胡意旋,张啸昂,马紫薇,邱虹凯,金世康,陈梦希
256    大国重器第二季   1.0分                                              主演李立宏
267      梦想合伙人   1.0分                                   主演李光洁,高露,袁文康,刘天佐
1812        房战   1.0分  主演斯琴高娃,夏凡,刘金山,牛莉,赵柯,孙桂田,刘文凤,司光敏,周磊,孙铁,杨凯,张妍,李小...
1511       聊斋二   1.0分                                    主演严屹宽,李黎,韩雪,骆达华
1512      长缨在手   1.0分                                        主演许晴,陈小春,邵兵
2714      将门风云   1.0分                      主演丁海峰,田海蓉,郑晓宁,谭洋,唐静,刘跃军,吴越,赵君
1514    夜行人第二季   1.0分                                       主演张翔,王靓雅,蒋中伟
2716      烽火燃情   1.0分                                       主演胡海锋,王力可,午马
246    我的父亲我的兵   1.0分                                   主演张一山,刘威,傅淼,山崎敬一
2918      致命筹码   1.0分  主演任泽巍,刘芳毓,张山,贾娅,霍尔查,李庆祥,储宁珈懿,樊响天闻,金洋,杜熊文,张钰茜,李...

In [81]:
# shape 属性，返回一个元祖，第一个是行数，第二个元素是列数
shape = df_rating.shape

# 打印行数和列数
print("行数:", shape[0])
print("列数:", shape[1])

行数: 3600
列数: 3

In [83]:
# 获取 shape
shape = df_rating.shape

# 从shape 获取 行数
row_count = shape[0]

# 用于临时存放每一行 level 的信息
levels = []

# 用一个循环，来对每一行都进行处理
for i in range(0, row_count):
    # 获取当前行的评分
    rating = df_rating.loc[i, "rating"]

    # 去除 分 字，方便比较大小
    rating = rating.replace("分", "")

    # 计算评级结果，并添加到 levels 列表
    if rating < "2.0":
        levels.append("低")
    elif rating < "4.0":
        levels.append("中")
    else:
        levels.append("高")

# 将 levels 构造成 Series，并通过列索引 level, 添加到 DataFrame
df_rating["level"] = pd.Series(levels)

# 查看
df_rating

,title,rating,stars,level
1799,追剿,5.0分,"主演刘宇桥,郭晓峰,牛宝军,周子茵",高
29,杀不死,5.0分,主演杨羽 邵庄 安宁 王辰昊,高
184,龙日一，你死定了2,5.0分,"主演邱赫南,侯佩杉,魏哲鸣,黄千硕",高
3584,家和万事兴,5.0分,"主演李依晓,海陆,李进荣,张迪,叶项明,刘萌萌",高
1524,拜见宫主大人第二季,5.0分,"主演关智斌,孙雪宁,李诺,刘骐",高
...,...,...,...,...
2714,将门风云,1.0分,"主演丁海峰,田海蓉,郑晓宁,谭洋,唐静,刘跃军,吴越,赵君",低
1514,夜行人第二季,1.0分,"主演张翔,王靓雅,蒋中伟",低
2716,烽火燃情,1.0分,"主演胡海锋,王力可,午马",低
246,我的父亲我的兵,1.0分,"主演张一山,刘威,傅淼,山崎敬一",低
2918,致命筹码,1.0分,"主演任泽巍,刘芳毓,张山,贾娅,霍尔查,李庆祥,储宁珈懿,樊响天闻,金洋,杜熊文,张钰茜,李...",低

In [84]:
df_rating.loc[0,:]

title                                   决胜法庭
rating                                  3.7分
stars     主演于和伟,张佳宁,韩栋,王耀庆,连奕名,胡静,杜源,王艺禅,王全有
level                                      中
Name: 0, dtype: object