In [32]:
import pandas as pd

# 将列索引保存在 index_arr 变量中
index_arr = ["姓名", "年龄", "籍贯", "部门"]

# 构建小明、小亮、小E的行 Series，并使用我们创建好的 index_arr 作为 Series 的index
ser_xiaoming = pd.Series(["小明", 22, "河北","IT部"], index= index_arr)
ser_xiaoliang = pd.Series(["小亮", 25, "广东","IT部"], index = index_arr)
ser_xiaoe = pd.Series(["小E", 23, "四川","财务部"], index=  index_arr)

# 直接将三个 Series 以列表的形式作为 DataFrame 的参数，创建 DataFrame
df_info = pd.DataFrame([ser_xiaoming, ser_xiaoliang, ser_xiaoe])

# 使用 notebook 打印 DataFrame
df_info

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
1  小亮  25  广东  IT部
2  小E  23  四川  财务部

In [7]:
# 对 DataFrame 使用 [] ，返回列名= 传入的索引值的 Series
ser_name = df_info["姓名"]

# 打印 ser_name 变量的类型
print(type(ser_name))

# 打印 ser_name 的内容
print(ser_name)

<class 'pandas.core.series.Series'>
0    小明
1    小亮
2    小E
Name: 姓名, dtype: object

In [8]:
# 对上一步获取的 Series 对象：ser_name 使用 [] 索引器
# 传入索引 1 
result = ser_name[1]

# 打印拿到的结果
print(result)

小亮

In [15]:
# 传入一个索引列表，包含两个索引项：“姓名”，“年龄”
sub_df_info = df_info[["姓名", "年龄"]]

# 打印获取到的 sub_df_info 的类型
print(type(sub_df_info))

# 打印获取到的 sub_df_info 的数据
print(sub_df_info)

<class 'pandas.core.frame.DataFrame'>
   姓名  年龄
0  小明  22
1  小亮  25
2  小E  23

In [16]:
# 传入索引列表 [0, 2] 给 Series，并将结果保存在变量 sub_ser_name 中
sub_ser_name = ser_name[[0,2]]

# 打印出 sub_ser_name 的类型
print(type(sub_ser_name))

# 打印出 sub_ser_name 中的内容
print(sub_ser_name)

<class 'pandas.core.series.Series'>
0    小明
2    小E
Name: 姓名, dtype: object

In [22]:
ser_name[::3]

0    小明
Name: 姓名, dtype: object

In [33]:
# 创建小王和小李的 Series
ser_xiaoli = pd.Series(["小李", 22, "云南","设计部"], index=  index_arr)
ser_xiaowang = pd.Series(["小王", 20, "福建","设计部"], index=  index_arr)

# 将 Series 添加到 DataFrame 中
df_info = df_info.append(ser_xiaoli, ignore_index= True)
df_info = df_info.append(ser_xiaowang, ignore_index= True)

# 查看添加之后的 DataFrame
df_info

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
1  小亮  25  广东  IT部
2  小E  23  四川  财务部
3  小李  22  云南  设计部
4  小王  20  福建  设计部

In [41]:
# 取第 2 到 4 条，不包含4， 也就是第 2、第 3 条记录
df_info[2:4]

   姓名  年龄  籍贯   部门
2  小E  23  四川  财务部
3  小李  22  云南  设计部

In [42]:
# 取前 2条记录
df_info[:2]

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
1  小亮  25  广东  IT部

In [44]:
# 每取一次跳过 2 个
df_info[::2]

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
2  小E  23  四川  财务部
4  小王  20  福建  设计部

In [45]:
# 每取一次跳过1个
df_info[::1]

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
1  小亮  25  广东  IT部
2  小E  23  四川  财务部
3  小李  22  云南  设计部
4  小王  20  福建  设计部

In [46]:
# 从后往前取，每取一次跳过1个
df_info[::-1]

   姓名  年龄  籍贯   部门
4  小王  20  福建  设计部
3  小李  22  云南  设计部
2  小E  23  四川  财务部
1  小亮  25  广东  IT部
0  小明  22  河北  IT部

In [47]:
ser_xl = df_info[1]
ser_xl

KeyError: 1

In [48]:
# 查看数据表
df_info

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
1  小亮  25  广东  IT部
2  小E  23  四川  财务部
3  小李  22  云南  设计部
4  小王  20  福建  设计部

In [50]:
# 获得部门的列 Series
dep_series = df_info["部门"]

# 打印部门 Series 中，索引为 1 的值
print("小亮的部门：" + dep_series[1])

小亮的部门：IT部

In [51]:
df_info.loc

In [53]:
# 小亮的行索引是1，查询部门，则列索引是 '部门'
print("小亮的部门：" + df_info.loc[1, "部门"])

小亮的部门：IT部

In [54]:
# 使用 loc，行索引处使用 ::-1 来指定从后往前选取，列索引部分传入列名列表来实现取两列
df_info.loc[::-1, ["姓名", "年龄"]]

   姓名  年龄
4  小王  20
3  小李  22
2  小E  23
1  小亮  25
0  小明  22

In [57]:
# 从数据表中可以看到，小亮的部门这个数据在第一行，第三列。所以可以将 1 3 传入 iloc 即可
print("小亮的部门：" + df_info.iloc[1, 3])

小亮的部门：IT部

In [59]:
# 条件表达式：df_info["年龄"] >= 23， 然后因为我们希望获得所有列，所以列索引直接写 :
df_info.loc[df_info["年龄"] >= 23, :]

   姓名  年龄  籍贯   部门
1  小亮  25  广东  IT部
2  小E  23  四川  财务部

In [67]:

print("小亮的部门：" + df_info.loc[df_info["姓名"] == "小亮", "部门"].iloc[0])

小亮的部门：IT部

In [80]:
# loc 条件表达式的逻辑与操作。每个子条件都需要用括号括起来
df_info.loc[(df_info["部门"] == "IT部") & (df_info["年龄"] <25), :]

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部

In [81]:
df_info.loc[(df_info["部门"] == "财务部") | (df_info["部门"] == "设计部"), :]

   姓名  年龄  籍贯   部门
2  小E  23  四川  财务部
3  小李  22  云南  设计部
4  小王  20  福建  设计部

In [69]:
df_info

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
1  小亮  25  广东  IT部
2  小E  23  四川  财务部
3  小李  22  云南  设计部
4  小王  20  福建  设计部

In [71]:
df_info.where(df_info["年龄"] >= 23, 1)

   姓名  年龄  籍贯   部门
0   1   1   1    1
1  小亮  25  广东  IT部
2  小E  23  四川  财务部
3   1   1   1    1
4   1   1   1    1

In [75]:
df_info

   姓名  年龄  籍贯   部门
0  小明  22  河北  IT部
1  小亮  25  广东  IT部
2  小E  23  四川  财务部
3  小李  22  云南  设计部
4  小王  20  福建  设计部

In [74]:
df_info.query("年龄 >= 23 and 籍贯 == '广东'")

   姓名  年龄  籍贯   部门
1  小亮  25  广东  IT部

In [90]:
df_info.loc[(df_info["年龄"] >= 22) & (df_info["年龄"] <= 23) & (df_info["部门"] != "设计部"), ["姓名", "籍贯"]]

   姓名  籍贯
0  小明  河北
2  小E  四川