In [11]:
a1 = "Hello Data Science"
a2 = 135

In [12]:
a1

'Hello Data Science'

In [13]:
a2

135

In [14]:
a2 = 100
a3 = 135
print (a2 + a3)

235

In [15]:
print(a1 + a2)

TypeError: can only concatenate str (not "int") to str

In [7]:
print(type(a2))

<class 'int'>

In [1]:
a4 = 10 / 8
a5 = a4 * 2
a6 = a5 / 3
print(a4, type(a4), a5, type(a5), a6, type(a6))

1.25 <class 'float'> 2.5 <class 'float'> 0.8333333333333334 <class 'float'>

In [2]:
stu_score = 93
a7 = stu_score > 90
a8 = stu_score < 60
a9 = a7 and a8
a10 = a7 or a8
print(a7, type(a7), a8, type(a8), a9, type(a9), a10, type(a10))

True <class 'bool'> False <class 'bool'> False <class 'bool'> True <class 'bool'>

In [3]:
a1 = "Hello, Data Science"
a2 = "I'm coming"
a3 = a1 + ", " + a2
print(a1, type(a1))
print(a3, type(a3))

Hello, Data Science <class 'str'>
Hello, Data Science, I'm coming <class 'str'>

In [ ]:
a1 = "Hello\nData Science"
print(a1, type(a1))

In [9]:
tc_a1 = 10
la = [1,2,3,tc_a1]
print("List is: ", la)
print("List length: ", len(la))
print("List tail: ", la[-1])
print("List head: ", la[0])
la.append("Hello")
print("After append: ", la)
la.remove(2)
print("After remove: ", la)

List is:  [1, 2, 3, 10]
List length:  4
List tail:  10
List head:  1
After append:  [1, 2, 3, 10, 'Hello']
After remove:  [1, 3, 10, 'Hello']

In [10]:
tc_a1 = 10
tc_a2 = 1.5
tc_a3 = tc_a1 + tc_a2
print(tc_a3, type(tc_a3))

11.5 <class 'float'>

In [11]:
tc_a4 = tc_a1 + int(tc_a2)
print(tc_a4, type(tc_a4))

11 <class 'int'>

In [12]:
tc_a5 = "21.5"
tc_a6 = tc_a1 + float(tc_a5)
tc_a6

31.5